/* resources/css/app.css */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

/*
* ===============================================
* HAYU CUKUR - GLOBAL STYLE OVERRIDES
* ===============================================
*/

/* Fix navbar link colors */
.navbar .nav-link {
    color: #f0d067 !important;
    font-weight: 600;
}

.navbar .nav-link:hover, .navbar .nav-link.active {
    color: #ffffff !important;
}

/* Fix user dropdown menu item colors */
.dropdown-item {
    color: #f0d067 !important;
}

.dropdown-item:hover {
    color: #121212 !important;
    background-color: #f0d067;
}

.dashboard-text-and-icon {
    color: white !important;
    fill: white !important;
}
.navbar.sticky-top {
    transition: top 0.4s ease;
}
